<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Сервис сокращения ссылок</title>
    <link rel="stylesheet" href="/static/content/site.css">
</head>

<body>
    <form action="/" method="post">
	<p><h1 class="head">Сервис сокращения ссылок</h1></p>
        <div class="blocks">
            <div class="blockUrl">
                <input class="inputUrl" type="text" id="url" placeholder='Введите ссылку...'>
            </div>
            <div class="blockBtn">
                <input class="btn" type="button" value="Создать" onclick="create_url()">
            </div>
    </form>
    </div>

    <script src="/static/scripts/jquery-2.2.1.js"></script>
    <script src="/static/scripts/site.js"></script>
</body>

</html>